In [1]:
from api_shippter_ops import *

In [2]:
shippter_path = Path("data/rod_op.json")
rod = get_shippter_quotes(shippter_path)

rod_clean = limpiar_base(rod)

Empezando limpieza de ROD...
Index(['roi', 'clientRut', 'client', 'blCode', 'mblCode', 'shippingCompany2',
       'origin', 'destination', 'tipo_bulto', 'bultos', 'origin_name',
       'dest_name'],
      dtype='object')

In [3]:
rod_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 672 entries, 0 to 1054
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   roi               668 non-null    object
 1   clientRut         672 non-null    object
 2   client            672 non-null    object
 3   blCode            579 non-null    object
 4   mblCode           672 non-null    object
 5   shippingCompany2  431 non-null    object
 6   origin            672 non-null    object
 7   destination       672 non-null    object
 8   tipo_bulto        672 non-null    object
 9   bultos            672 non-null    object
 10  origin_name       672 non-null    object
 11  dest_name         672 non-null    object
dtypes: object(12)
memory usage: 68.2+ KB

In [7]:
(rod_clean
 .query("roi == 'ROI M128251'"))

,roi,clientRut,client,blCode,mblCode,shippingCompany2,origin,destination,tipo_bulto,bultos,origin_name,dest_name
1054,ROI M128251,77782590-9,EDITORIAL AMANUTA LIMITADA,(H)FCLVY20231189A1,ONEYCAND60976500,ONEY,HKHKG,CLVAP,74,1,NA,Valparaiso